.archive {
	h1 {
		color:$light_gray;
		&:after {
			color:$subColor
		}
	}
}
.post-tease {
	margin-bottom:2.4em!important;
	a h2 {
		color:$domColor;
		margin:0;
		@include hover($subColor);
		@include fs-xxlg;
	}
	img {
		@include box-shadow(0 0 14px 3px $lightest_gray);
		margin-bottom:0.8em;
	}
}