h2.content-head {
	@include fs-giant;
	text-align:center;
	margin:0.5em 0 0.7em 0;
	line-height:1;
	@include sub;
	color:$light_gray;
	text-transform:uppercase;
	&:after {
		content:'()';
		color:$subColor;
	}
}
.portfolio-nav {
	text-align:center;
	@include no-list;
	margin-top:1.8em;
	li {
		@include inline-block;
		@include hover($domColor);
		@include light;
		font-weight:400;
		margin:0px 30px;
		text-align:center;
		letter-spacing:1px;
		@include fs-xlg;
		cursor:pointer;
		border:2px solid $gray;
		padding:0.4em 1.2em;
		border-radius:500px;
		ul {
			@include inline-block;
			li {
				@include fs-lg;
				width:auto;
				margin:0px;
				@include sub;
				vertical-align:bottom;
			}
		}
		& > ul li:hover {
			color:inherit;
		}
		&:hover {
			color:inherit;
		}
		i {
			position:relative;
			top:-5px;
		}
	}
}
.portfolio-box {
	width:300px;
	margin:10px 0;
	display:block;
	img {
		@include box-shadow(0 0 14px 2px $lightest_gray);
		background:white;
		width:100%;
		border:1px solid #f1f1f1;
	}
	h2 {
		color:#3d3d3d;
		margin:0px;
		line-height:1;
		font-size:1.5em;
		text-align:center;
	}
	&:hover {
		.cover {
			opacity:1;
		}
	}
	.cover {
		position:absolute;
		bottom:0;
		width:100%;
		background:rgba(white, 0.94);
		@include single-transition(opacity, 0.2s, linear);
		opacity:0;
		height:100%;
		top:0;
		left:0;
		h2 {
			color:$dark_gray;
			margin-bottom:0.3em;
		}
	}
}
.valign-wrapper {
	position:absolute;
	top:32%;
	left:0;
	width:100%;
}
.genre-tags {
	text-align:center;
	padding-left:0;
	@include sub;
	text-transform:uppercase;
	@include fs-lg;
	li {
		@include inline-block;
		margin:0 4px;
		border-bottom:2px solid $light_gray;
		padding:0 0 0 0;
		color:$dark_gray!important;
	}
}
.portfolio {
	padding:15px;
	.code {
		color:$terColor;
		border-color:$terColor;
	}
	.design {
		color:$domColor;
		border-color:$domColor;
	}
	.writing {
		color:$subColor;
		border-color:$subColor;
	}
	.all {
		color:$dark_gray;
		border:none;
		padding:0;
		@include hover($terColor);
	}
}
.services {
	text-align:center;
	h2 {
		color:$domColor;
	}
	ul {
		@include no-list;
	}
	ul li {
		list-style-position:inside;
	}
}
.resume-row {
	@include light;
	margin:60px 0px;
	h2 {
		color:lighten($subColor,24%);
		@include sub;
		line-height:1;
		text-transform:uppercase;
		margin:0px;
		@include fs-xxlg;
	}
	h3 {
		color:black;
		margin:0;
		margin-bottom:5px;
	}
	.item-row {
		margin:15px 0px;
		@include light;
		vertical-align:text-top;
		&:first-child {
			margin-top:0px;
		}
		.item-details {
			text-transform:uppercase;
			color:$dark_gray;
			font-weight:400;
			line-height:18px;
			vertical-align:middle;
		}
		.item-desc {
			line-height:20px;
			vertical-align:top;
			margin-top:-4px;
		}
	}
}
.home-division {
	padding-top:2em;
}