.meta {
	@include sub;
	@include fs;
	opacity:0.4;
	@include single-transition(opacity, 0.2s, linear);
	span {
		color:$gray;
		text-transform:uppercase;
	}
	li {
		&:before {
			display:none;
		}
		a {
			display:inline;
		}
	}
	padding:0!important;
	margin-bottom:1em;
	a {
		color:$subColor;
		@include hover($terColor);
	}
	&:hover {
		opacity:1;
	}
}
.hentry {
	margin-top:1em;
	padding:1em 0;
	font-size:1.25em;
	p {
		//width:80%;
		margin:0 auto 2.5em auto;
	}
	img {
		margin:2em auto;
		border:1px solid $lightest_gray;
		@include box-shadow(0 0 14px 3px $lightest_gray);
		&.alignleft {
			margin:0 20px 10px 0;
		}
	}
	ul {
		li {
			&:before {
				@include fs-small;
				margin-right: 5px;
				color: $gray;
				content: '\bb';
			}
		}
	}
	h3 {
		color:$domColor;
		margin:1em 0 0.2em 0;
	}
	h2 {
		margin:1em 0 0.3em 0;
		color:$subColor;
	}
	h2, h3 {
		text-transform:uppercase;
		text-align:center;
		@include sub;
		letter-spacing:2px;
	}
}
.wp-caption {
	position:relative;
	max-width:100%!important;
	height:auto;
	padding:0;
	img {
		margin-bottom:0;
	}
}
.wp-caption-text {
	padding:0 0 10px 30px;
	left:100%;
	top:40%;
	width:30%;
	font-size:0.8em;
	position:absolute;
	font-style:normal;
	text-align:left!important;
	border-bottom:2px solid $light_gray;

}
.info {
	text-align:center;
	font-style:italic;
	position:relative;
	margin:35px 0;

}
h4 {
	line-height:1;
	margin:0;
}
.wp-video {
	margin:20px auto;
}