
@mixin animation($content){
	-moz-animation: $content;
	-webkit-animation: $content;
	-o-animation: $content;
	-ms-animation: $content;
	-khtml-animation: $content;
	animation: $content;
}
@mixin keyframes($name) {
	@-moz-keyframes #{$name} { @content; }
	@-webkit-keyframes #{$name} { @content; }
	@-o-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@-khtml-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content; }
}
@include keyframes(fadeIn) {
	0% {
		@include opacity(0);
	}
	100% {
		@include opacity(1);
	}
}
@include keyframes(fadeOut) {
	0% {
		@include opacity(1);
	}
	100% {
		@include opacity(0);
	}
}

@include keyframes(fadeInUp) {
	0% {
		@include opacity(0);
		@include transform(translateY(20px));
	}
	100% {
		@include opacity(1);
		@include transform(translateY(0px));
	}
}


@include keyframes(fadeOutUp) {
	0% {
		@include opacity(1);
		@include transform(translateY(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(-20px));
	}
}


@include keyframes(fadeInDown) {
	0% {
		@include opacity(0);
		@include transform(translateY(-20px));
	}
	100% {
		@include opacity(1);
		@include transform(translateY(0));
	}
}


@include keyframes(fadeOutDown) {
	0% {
		@include opacity(1);
		@include transform(translateY(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(20px));
	}
}


@include keyframes(fadeInRight) {
	0% {
		@include opacity(0);
		@include transform(translateX(20px));
	}
	100% {
		@include opacity(1);
		@include transform(translateX(0));
	}
}


@include keyframes(fadeOutLeft) {
	0% {
		@include opacity(1);
		@include transform(translateX(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateX(-20px));
	}
}


@include keyframes(fadeInLeft) {
	0% {
		@include opacity(0);
		@include transform(translateX(-20px));
	}
	100% {
		@include opacity(1);
		@include transform(translateX(0));
	}
}


@include keyframes(fadeOutRight) {
	0% {
		@include opacity(1);
		@include transform(translateX(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateX(20px));
	}
}


@include keyframes(fadeInUpBig) {
	0% {
		@include opacity(0);
		@include transform(translateY(2000px));
	}
	100% {
		@include opacity(1);
		@include transform(translateY(0));
	}
}


@include keyframes(fadeOutUpBig) {
	0% {
		@include opacity(1);
		@include transform(translateY(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(-2000px));
	}
}


@include keyframes(fadeInDownBig) {
	0% {
		@include opacity(0);
		@include transform(translateY(-2000px));
	}
	100% {
		@include opacity(1);
		@include transform(translateY(0));
	} }


@include keyframes(fadeOutDownBig) {
	0% {
		@include opacity(1);
		@include transform(translateY(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(2000px));
	} }


@include keyframes(fadeInRightBig) {
	0% {
		@include opacity(0);
		@include transform(translateX(2000px));
	}
	100% {
		@include opacity(1);
		@include transform(translateX(0));
	}
}


@include keyframes(fadeOutLeftBig) {
	0% {
		@include opacity(1);
		@include transform(translateX(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateX(-2000px));
	}
}


@include keyframes(fadeInLeftBig) {
	0% {
		@include opacity(0);
		@include transform(translateX(-2000px));
	}
	100% {
		@include opacity(1);
		@include transform(translateX(0));
	}
}


@include keyframes(fadeOutRightBig) {
	0% {
		@include opacity(1);
		@include transform(translateX(0));
	}
	100% {
		@include opacity(0);
		@include transform(translateX(2000px));
	}
}


@include keyframes(bounceIn) {
	0% {
		@include opacity(0);
		@include transform(scale(0.3));
	}
	50% {
		@include opacity(1);
		@include transform(scale(1.05));
	}
	70% {
		@include transform(scale(0.9));
	}
	100% {
		@include transform(scale(1));
	}
}


@include keyframes(bounceInDown) {
	0% {
		@include opacity(0);
		@include transform(translateY(-2000px));
	}
	60% {
		@include opacity(1);
		@include transform(translateY(30px));
	}
	80% {
		@include transform(translateY(-10px));
	}
	100% {
		@include transform(translateY(0));
	}
}


@include keyframes(bounceInUp) {
	0% {
		@include opacity(0);
		@include transform(translateY(2000px));
	}
	60% {
		@include opacity(1);
		@include transform(translateY(-30px));
	}
	80% {
		@include transform(translateY(10px));
	}
	100% {
		@include transform(translateY(0));
	}
}


@include keyframes(bounceInRight) {
	0% {
		@include opacity(0);
		@include transform(translateX(2000px));
	}
	60% {
		@include opacity(1);
		@include transform(translateX(-30px));
	}
	80% {
		@include transform(translateX(10px));
	}
	100% {
		@include transform(translateX(0));
	}
}


@include keyframes(bounceInLeft) {
	0% {
		@include opacity(0);
		@include transform(translateX(-2000px));
	}
	60% {
		@include opacity(1);
		@include transform(translateX(30px));
	}
	80% {
		@include transform(translateX(-10px));
	}
	100% {
		@include transform(translateX(0));
	}
}


@include keyframes(bounceOut) {
	0% {
		@include transform(scale(1));
	}
	25% {
		@include transform(scale(0.95));
	}
	50% {
		@include opacity(1);
		@include transform(scale(1.1));
	}
	100% {
		@include opacity(0);
		@include transform(scale(0.3));
	}
}


@include keyframes(bounceOutUp) {
	0% {
		@include transform(translateY(0));
	}
	20% {
		@include opacity(1);
		@include transform(translateY(20px));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(-2000px));
	}
}


@include keyframes(bounceOutDown) {
	0% {
		@include transform(translateY(0));
	}
	20% {
		@include opacity(1);
		@include transform(translateY(-20px));
	}
	100% {
		@include opacity(0);
		@include transform(translateY(2000px));
	}
}


@include keyframes(bounceOutLeft) {
	0% {
		@include transform(translateX(0));
	}
	20% {
		@include opacity(1);
		@include transform(translateX(20px));
	}
	100% {
		@include opacity(0);
		@include transform(translateX(-2000px));
	}
}


@include keyframes(bounceOutRight) {
	0% {
		@include transform(translateX(0));
	}
	20% {
		@include opacity(1);
		@include transform(translateX(-20px));
	}
	100% {
		@include opacity(0);
		@include transform(translateX(2000px));
	}
}


@include keyframes(flash) {
	0% {
		@include opacity(1);
	}
	25% {
		@include opacity(0);
	}
	50% {
		@include opacity(1);
	}
	75% {
		@include opacity(0);
	}
	100% {
		@include opacity(1);
	}
}


@include keyframes(bounce) {
	0% {
		@include transform(translateY(0));
	}
	20% {
		@include transform(translateY(0));
	}
	40% {
		@include transform(translateY(-30px));
	}
	50% {
		@include transform(translateY(0));
	}
	60% {
		@include transform(translateY(-15px));
	}
	80% {
		@include transform(translateY(0));
	}
	100% {
		@include transform(translateY(0));
	}
}


@include keyframes(shake) {
	0% {
		@include transform(translateX(0));
	}
	10% {
		@include transform(translateX(-10px));
	}
	20% {
		@include transform(translateX(10px));
	}
	30% {
		@include transform(translateX(-10px));
	}
	40% {
		@include transform(translateX(10px));
	}
	50% {
		@include transform(translateX(-10px));
	}
	60% {
		@include transform(translateX(10px));
	}
	70% {
		@include transform(translateX(-10px));
	}
	80% {
		@include transform(translateX(10px));
	}
	90% {
		@include transform(translateX(-10px));
	}
	100% {
		@include transform(translateX(0));
	}
}


@include keyframes(rotateInDownLeft) {
	0% {
		@include transform-origin(left bottom);;
		@include transform(rotate(-90deg));
		@include opacity(0);
	}
	100% {
		@include transform-origin(left bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
}


@include keyframes(rotateInUpLeft) {
	0% {
		@include transform-origin(left bottom);;
		@include transform(rotate(90deg));
		@include opacity(0);
	}
	100% {
		@include transform-origin(left bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
}


@include keyframes(rotateInUpRight) {
	0% {
		@include transform-origin(right bottom);;
		@include transform(rotate(-90deg));
		@include opacity(0);
	}
	100% {
		@include transform-origin(right bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
}


@include keyframes(rotateInDownRight) {
	0% {
		@include transform-origin(right bottom);;
		@include transform(rotate(90deg));
		@include opacity(0);
	}
	100% {
		@include transform-origin(right bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
}


@include keyframes(rotateOutDownLeft) {
	0% {
		@include transform-origin(left bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
	100% {
		@include transform-origin(left bottom);;
		@include transform(rotate(90deg));
		@include opacity(0);
	}
}


@include keyframes(rotateOutUpLeft) {
	0% {
		@include transform-origin(left bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
	100% {
		@include transform-origin(left bottom);;
		@include transform(rotate(-90deg));
		@include opacity(0);
	}
}


@include keyframes(rotateOutDownRight) {
	0% {
		@include transform-origin(right bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
	100% {
		@include transform-origin(right bottom);;
		@include transform(rotate(-90deg));
		@include opacity(0);
	}
}


@include keyframes(rotateOutUpRight) {
	0% {
		@include transform-origin(right bottom);;
		@include transform(rotate(0));
		@include opacity(1);
	}
	100% {
		@include transform-origin(right bottom);;
		@include transform(rotate(90deg));
		@include opacity(0);
	}
}


@include keyframes(rotateIn) {
	0% {
		@include transform-origin(center center);;
		@include transform(rotate(-200deg));
		@include opacity(0);
	}
	100% {
		@include transform-origin(center center);;
		@include transform(rotate(0));
		@include opacity(1);
	}
}


@include keyframes(rotateOut) {
	0% {
		@include transform-origin(center center);;
		@include transform(rotate(0));
		@include opacity(1);
	}
	100% {
		@include transform-origin(center center);;
		@include transform(rotate(200deg));
		@include opacity(0);
	}
}


@include keyframes(tada) {
	0% {
		@include transform(scale(1));
	}
	10% {
		@include transform(scale(0.9) rotate(-3deg));
	}
	20% {
		@include transform(scale(0.9) rotate(-3deg));
	}
	30% {
		@include transform(scale(1.1) rotate(3deg));
	}
	40% {
		@include transform(scale(1.1) rotate(-3deg));
	}
	50% {
		@include transform(scale(1.1) rotate(3deg));
	}
	60% {
		@include transform(scale(1.1) rotate(-3deg));
	}
	70% {
		@include transform(scale(1.1) rotate(3deg));
	}
	80% {
		@include transform(scale(1.1) rotate(-3deg));
	}
	90% {
		@include transform(scale(1.1) rotate(3deg));
	}
	100% {
		@include transform(scale(1) rotate(0));
	}
}