/********* GENERAL ***********/

@import "inc/fonts/CharlieGordon/style.css";
html {
	font-size:100%;
	font-size:remCalc(16px);
}
body {
	font-size:16px;
	font-size:1rem;
}
h1, h2, h3, h4, h5, h6, h7, h8 {
	@include dom;
	color: $domColor;
}
h1 {
	margin:0px;
	margin-bottom:10px;
	color:$domColor;
	letter-spacing:0px;
}
h2 {
	margin:20px 0px;
	color:$subColor;
}
h3 {
	color:$terColor;
}
h4 {
	color:$gray;
}
a h1, a h2, a h3, a h4, a h5, a h6 {
	@include std-hover($linkColor);
}
code {
	font-weight:normal;
}
ul {
	padding-left:17px;
}
blockquote {
	padding-top:0px;
	@include fs-lg;
	border-left:3px solid $domColor;
}
body {
	@include body;
	line-height:1.4;
	@include color-scheme;
}
.row {
	max-width:72em;
}
.clear, .clearfix {
	@include pie-clearfix;
	clear:both;
}
.full-row {
	max-width:100%;
}
.lg-margin {
	margin-top:40px!important;
	margin-bottom:40px!important;
}
.xlg-margin {
	margin-top:80px!important;
	margin-bottom:80px!important;
}
.md-margin {
	margin-top:20px!important;
	margin-bottom:20px!important;
}
.sm-margin {
	margin-top:10px!important;
	margin-bottom:10px!important;
}
.lg-padding {
	padding-top:40px!important;
	padding-bottom:40px!important;
}
.md-padding {
	padding-top:20px!important;
	padding-bottom:20px!important;
}
.sm-padding {
	padding-top:10px!important;
	padding-bottom:10px!important;
}
a {
	@include std-hover($domColor);
	color:$linkColor;
	text-decoration:none!important;
	&:hover {
		text-decoration:none;
	}
}

i {
	@include inline-block;
}
::selection, ::-moz-selection {
	@include text-shadow(0px);
}

hr {
	border-color:$dark_gray;
	border-bottom:0px;
}

/* HELPER CLASSES */

.centered {
	text-align:center;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.aligncenter {
	display:block;
	margin:0 auto;
	text-align:center;
}
.copyright {
	@include color-scheme;
	@include fs-small;
	position:relative;
	text-align:right;
	.cred sup {
		@include fs-xxsmall;
		position:relative;
		top:-0.7em;
		left:2px;
	}
}
.hidden {
	display:none;
}

/***** WORDPRESS ****/

.sticky {
	position:fixed;
}

.wp-caption, .gallery-caption {
	margin:0 auto;
	margin-bottom:30px;
	padding:8px;
	background:$lightest_gray;
	img {
		border:2px solid #fff;
		margin-bottom:7px;
	}
	.wp-caption-text {
		margin-bottom:0px;
		text-align:center;
		font-style:italic;
	}
}
.wp-video-shortcode, .mejs-video, .mejs-container {
	margin:15px;
}
.post, .entry {
	.mejs-container .mejs-controls {
		background-color:$domColor;
		@include filter-gradient($domColor, darken($domColor, 8%), vertical);
		@include background-image(linear-gradient(top, $domColor 0%, darken($domColor, 8%) 100%));
		button {
			&:hover {
				@include box-shadow(none);
			}
		}
		.mejs-time-rail {
			.mejs-time-total {
				background:darken($domColor,18%);
			}
			.mejs-time-loaded {
				background:#C7C7C7;
			}
			.mejs-time-current {
				background:white!important;
			}
		}
		.mejs-volume-slider {
			background:rgba($domColor,0.8);
		}
	}
	ul {
		padding-left:18px;
	}
}
.format-link .post-format-content {
	@include fs-xlg;
	border-left:4px solid $domColor;
	padding-left:18px;
}
.format-status p {
	@include fs-xxlg;
	@include light;
}
figure.quote {
	border-left:3px solid $domColor;
	padding-left:1.1875em;
	margin:15px inherit;
	blockquote {
		padding-left:0px;
		margin-bottom:0px;
		border-left:0px;
		p {
			margin-bottom:4px;
		}
	}
	figcaption, .quote-caption {
		display:block;
		@include fs-small;
		color:#555;
		&:before {
			//content:"\2014 \0020"
		}
	}
}
.gallery-item {
	img {
		margin:0 auto;
	}
}
.gallery-caption {
	margin:10px 8px;
}
.sidebar {
	.widget {
		margin:45px 0px;
		padding:15px 0px;
		ul {
			@include no-list;
			li {
				padding:12px 0px;
				border-bottom:1px solid $light-gray;
				&:before {
					@include fs-small;
					margin-right: 10px;
					color: $gray;
					content: '\bb';
				}
			}
		}
		&:first-child {
			@include box-shadow(none);
			margin-top:0px;
			padding-top:0px;
		}
	}
}
.post-tease {
	margin:45px 0px;
}

.post {
	ul {
		list-style:disc;
	}
	ol {
		list-style:decimal;
	}
	.entry {
		margin-bottom:30px;
	}
}
.entry {
	ul {
		list-style:disc;
		margin-left:2em;
		padding-left:0px;
	}
	ol {
		margin-left:2em;
		list-style:decimal;
	}
}

/* COMMENTS */

.comment-list {
	@include no-list;
	list-style:none!important;
	ol {
		list-style:none!important;
	}
}
.comment {
	padding:10px 0px;
	border-bottom:1px solid $light-gray;
	&.odd, &.thread-odd {
		background:lighten($lightest-gray,4%);
	}
	&.even, &.thread-even {
		background:none!important;
	}
	&.depth-2, &.depth-3, &.depth-4 {
		margin-right:0;
		margin-left:10%;
		border-top:1px solid $light-gray;
		border-bottom:0px;
	}
	&.bypostauthor {
		h4 {
			.author {
				@include inline-block;
				@include fs-tiny;
				padding:2px 4px;
				background:$domColor;
				color:white;
				text-transform:uppercase;
				font-weight:400;
			}
		}
	}
	h4 {
		@include light;
		.edit {
			@include cond;
			@include inline-block;
			float:right;
			@include fs-xsmall;
		}
		@include fs-xxlg;
	}
	.reply {
		@include border-radius(1px);
		@include fs-tiny;
		@include inline-block;
		float:right;
		margin-top:4px;
		padding:4px 8px;
		border:0px!important;
		background:darken($domColor,4%);
		color:white!important;
		-webkit-font-smoothing:antialiased;
		a {
			@include cond;
			color:white;
		}
	}
	ul, ol {
		margin-left:0px;
	}
	#respond {
		float:right;
		width:80%;
	}
}
.comment-content {
	font-family:$sans;
	p {
		margin-bottom:0.7em;
	}
}
.comment-meta {
	@include fs-small;
	text-align:center;
	img {
		@include box-shadow(0px 8px 14px -8px $gray);
		display:block;
		margin:0 auto;
		margin-bottom:6px;
		border:2px solid $lightest-gray;
	}
	a {
		display:block;
	}
}
.logged-in-as {
	@include light;
	@include fs-lg;
	margin-bottom:10px;
	text-align:center;
}
#reply-title {
	@include dom;
	margin:0px;
	color:$domColor;
}
#respond {
	padding:20px 0px;
	text-align:center;
	textarea {
		@include border-radius(4px);
		@include fs-lg;
		margin:0 auto;
		margin-bottom:35px;
		padding:20px;
		min-height:140px;
		font-weight:300;
		&:focus {
			background:white!important;
		}
	}
}
.comment-fields-row {
	margin:auto!important;
	margin-top:45px!important;
	margin-bottom:0px!important;
	max-width:90%!important;
	input {
		@include border-radius(4px);
	}
}

.comments-area {
	width:90%;
	margin:1em auto;
}

/******** UI ********/

.notice {
	@include fs-medium;
}
.notice, .alert {
	@include border-radius(3px);
	@include box-shadow(0px 2px 8px -3px $gray);
	padding:10px;
	background:$domColor;
	color:white;
	&.success {
		background:#4AC089;
	}
	&.info {
		background:#4487CE;
	}
	&.error {
		background:#B64040;
	}
	&.no-shadow{
		@include box-shadow(none);
	}
	a {
		color:$lightest_gray;
	}
	.close {
		@include text-shadow(none);
		@include opacity(0.9);
		position:relative;
		top:-4px;
		color:white;
	}
}
.search {
	h1 span {
		@include fs-tiny;
		@include inline-block;
		padding:6px;
		background:$domColor;
		color:white;
		text-transform:uppercase;
	}
}

.social {
	@include fs-lg;
	position:absolute;
	right:0px;
	i {
		@include inline-block;
		padding:0px 2px;
	}
	a {
		@include color-scheme;
	}
}
.social-single {
	@include color-scheme;
	@include no-list;
	text-align:center;
	font-weight:300;
	font-family:$sans;
	i {
		@include fs-xlg;
	}
	li {
		@include inline-block;
		padding:0px 10px;
	}
	a {
		@include color-scheme;
		@include hover($linkColor);
	}
	@include fs-medium;
}
.extra-margin {
	margin:30px 0px;
}
img.alignleft {
	float:left;
	margin-right:10px;
}
img.alignright {
	float:right;
	margin-left:10px;
}

/* BUTTONS */

button, .button, input[type="submit"] {
	-webkit-appearance:none;
	@include box-shadow(none);
	@include fs-xlg;
	@include border-radius(6px);
	@include single-transition(all, 0.2s, linear);
	padding:4px 14px;
	border:0px;
	background:$domColor;
	color:white;
	font-weight:200;
	font-family:$sans;
	@include inline-block;
	&:hover {
		@include box-shadow(inset 0px -12px 22px 0px rgba(0, 0, 0, 0.24));
		background:darken($domColor,12%);
		cursor:pointer;
	}
	&:active {
		@include box-shadow(inset 0px -12px 22px 0px rgba(0, 0, 0, 0.24), inset 0 1px 2px rgba(0, 0, 0, 0.3));
		background:darken($domColor,18%);
	}
	a {
		display:block;
		text-align:center;
		color:white
	}
}
button, input[type="submit"] {
	font-weight:100;
}
/* NAVIGATION */
.page-navigation, .wp-pagenavi {
	@include fs-xlg;
	margin:15px 0px;
	color:$subColor;
	text-align:center;
	.prev, .next, .first, .last, .pages {
		@include fs-xsmall;
		margin:0px 6px;
		text-transform: uppercase;
	}
	a {
		@include hover($subColor);
		border:0px;
		color:desaturate($domColor, 50%);
	}
	span {
		border:0px;
	}
}

.menu {
	ul {
		@include no-list;
		li {
			@include inline-block;
			a {
				@include sub;
				display:block;
				padding:0px 15px;
			}
			&:first-child a {
				padding-left:0px!important;
			}
		}
	}
}
.breadcrumbs {
	@include fs-medium;
	margin-top:20px;
	padding-left:0px;
	border:0px;
	background:inherit;
	a {
		@include hover($linkColor);
		color:lighten($gray,12%);
	}
}
.footer, footer {
	padding:15px 0px;
	h2 {
		color:$subColor;
		text-transform:lowercase;
	}
	.menu ul {
		li {
			a {
				@include hover($linkColor);
				padding:0px 15px;
				color:$domColor;
			}
		}
	}
}
.link-list, .header ul {
	@include no-list;
	li {
		@include inline-block;
		a {
			display:block;
			padding:4px 8px;
		}
	}
}

.mobile-menu {
	display:none;
	i {
		@include fs-xlg;
		position:relative;
		top:-10px;
		color:$domColor;
	}
	ul {
		position:relative;
		top:-12px;
		margin-left:0px!important;
		padding-left:0px!important;
		background:white;
		li {
			display:inline;
			float:none;
			background:white;
			a {
				@include cond;
				display:block;
				padding:12px 8px;
				border-bottom:1px solid $dark_gray;
				background:white;
				color:$domColor;
			}
		}
	}
}
#creditsDisplay {
	$experimental-support-for-svg: true;
	@include filter-gradient(#ffffff, #f0f0f0, vertical);
	@include background-image(linear-gradient(top, #ffffff 0%,#f0f0f0 100%));
	@include border-radius(2px);
	position:absolute;
	top:-52px;
	right:0px;
	z-index:9999;
	display:none;
	padding:2px;
	width:240px;
	height:auto;
	border:1px solid #e8e8e8;
	background-color: #ffffff;
	text-align:center;
}
#footerCredits {
	position:relative;
}
.ts-maintenance-mode {
	$experimental-support-for-svg: true;
	@include cond;
	@include fs-giant;
	@include filter-gradient(lighten($domColor,16%), $domColor, horizontal);
	@include background-image(radial-gradient(center, ellipse cover, lighten($domColor,16%) 0%,$domColor 100%));
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:0 auto;
	padding:25% 0px;
	min-height:100%;
	width:100%;
	background:$domColor;
	background-color: $domColor;
	color:white;
	text-align:center;
	.coming-soon {
		@include fs-xlg;
		margin:0;
	}
}
.ts-contact {
	max-width:460px;
	input, textarea {
		@include border-radius(5px);
	}
	textarea {
		min-height:85px;
	}
	.button, button {
		@include border-radius(3px);
	}
}
.ts-sitemap {
	@include no-list;
	list-style:none!important;
	li {
		padding-left:10px;
	}
	li:first-child {
		@include fs-xlg;
		margin-bottom:10px;
		padding-left:0px;
	}
}
.search-form {
	input[type="text"] {
		@include box-shadow(none);
		@include border-left-radius(5px);
		float:left;
		margin-right:-2px;
		padding:7px;
		max-width:180px;
		border:0px;
		font-style:italic;
	}
	button {
		@include fs;
		@include border-radius(0px);
		@include border-right-radius(5px);
		margin-top:0px;
		padding:7px 9px;
	}
}
.meta {
	@include no-list;
	text-align:center;
	i {
		margin-right:4px;
		color:$gray;
	}
	a {
		@include hover($linkColor);
		color:$domColor;
	}
	li {
		@include inline-block;
		margin:4px;
		&:after {
			padding:0px 4px;
			content:'\2f';
		}
		&:last-child:after {
			content:'\A0';
		}
	}
}
.label-warning, .label-important, .label-error {
	background-color:#b94a48;
}
.label-bonus, .label-success {
	background-color:#468847;
}
/* STYLE GUIDE */

.color-block {
	height:200px;
	&.dom-color {
		background:$domColor
	}
	&.sub-color {
		background:$subColor
	}
	&.ter-color {
		background:$terColor
	}
}
.font-block {
	@include fs-xlg;
	&.font-display {
		@include dom;
	}
	&.font-sub {
		@include sub;
	}
	&.font-body {
		@include body;
	}
	&.font-cond {
		@include cond;
	}
	&.font-light {
		@include light;
	}
}
.inline-radio {
	label {
		@include inline-block;
	}
}
.prefix {
	background:$light_gray;
	border-color:#d9d9d9;
	border-right:0px;
	color:$dark_gray
}
input[type="range"] {
	-webkit-appearance:none;
	-moz-appearance:none;
	background:$light_gray;
	height:8px;
	@include box-shadow(inset 1px 1px 6px -3px black);
	@include border-radius(3px);
	&::-webkit-slider-thumb {
		-webkit-appearance:none;
		-moz-appearance:none;
		@include border-radius(200px);
		@include box-shadow(0px 1px 2px 0px $dark_gray);
		background:$domColor;
		width:14px;
		height:14px;
	}
}
sub {
	font-size:smaller;
	vertical-align:sub
}
sup {
	font-size:smaller;
	vertical-align:super;
}