/********* GENERAL ***********/

@import "lib/fonts/CharlieGordon/style.css";

h1, h2, h3, h4, h5, h6, h7, h8 {
	@include dom;
	color: $domColor;
}
h1 {
	margin:0px;
	margin-bottom:10px;
	color:$domColor;
	letter-spacing:0px;
}
h2 {
	color:$subColor;
	margin:20px 0px;
}
h3 {
	color:$terColor;
}
h4 {
	color:$gray;
}
a h1, a h2, a h3, a h4, a h5, a h6 {
	@include std-hover($linkColor);
}

ul {
	padding-left:17px;
}
body {
	@include body;
	@include color-scheme;
	line-height:1.4;
}
.row {
	max-width:72em
}
.clear, .clearfix {
	@include pie-clearfix;
	clear:both;
}
.full-row {
	max-width:100%;
}
.lg-margin {
	margin-top:40px!important;
	margin-bottom:40px!important;
}
.xlg-margin {
	margin-top:80px!important;
	margin-bottom:80px!important;
}
.md-margin {
	margin-top:20px!important;
	margin-bottom:20px!important;
}
.sm-margin {
	margin-top:10px!important;
	margin-bottom:10px!important;
}
.lg-padding {
	padding-top:40px!important;
	padding-bottom:40px!important;
}
.md-padding {
	padding-top:20px!important;
	padding-bottom:20px!important;
}
.sm-padding {
	padding-top:10px!important;
	padding-bottom:10px!important;
}
a {
	color:$linkColor;
	@include std-hover($domColor);
	&:hover {
		text-decoration:none;
	}
	text-decoration:none!important;
}

i {
	@include inline-block;
}
::selection, ::-moz-selection {
	@include text-shadow(0px);
}

hr {
	border-color:$dark_gray;
	border-bottom:0px;
}

/* HELPER CLASSES */

.centered {
	text-align:center;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.pull-left {
	float:left;
}
.pull-right {
	float:right;
}
.aligncenter {
	margin:0 auto;
	text-align:center;
	display:block;
}
.copyright {
	text-align:right;
	@include color-scheme;
	@include fs-small;
	position:relative;
	.cred sup {
		top:-0.7em;
		left:2px;
		@include fs-xxsmall;
		position:relative;
	}
}
.hidden {
	display:none;
}

/***** WORDPRESS ****/

.sticky {
	position:fixed;
}

.wp-caption, .gallery-caption {
	background:#eee;
	padding:8px;
	margin-bottom:30px;
	img {
		border:2px solid #fff;
	}
	.wp-caption-text {
		text-align:center;
		font-style:italic;
		margin-bottom:0px;
	}
}
.sidebar {
	.widget {
		margin:45px 0px;
		padding:15px 0px;
		ul {
			@include no-list;
			li {
				border-bottom:1px solid $light-gray;
				padding:12px 0px;
				&:before {
					content: '\bb';
					@include fs-small;
					color: $gray;
					margin-right: 10px;
				}
			}
		}
		&:first-child {
			@include box-shadow(none);
			padding-top:0px;
			margin-top:0px;
		}
	}
}
.archive {
	h1 {
		border-bottom:1px solid $lightest_gray;
	}
}
.post-tease {
	margin:45px 0px;
}

.post {
	ul {
		list-style:disc;
	}
	ol {
		list-style:decimal;
	}
	.entry {
		margin-bottom:30px;
	}
}
.entry {
	ul {
		list-style:disc;
	}
	ol {
		list-style:decimal;
	}
}

/* COMMENTS */

.comment-list {
	@include no-list;
}
.comment {
	padding:10px 0px;
	border-bottom:1px solid $light-gray;
	&.odd, &.thread-odd {
		background:lighten($lightest-gray,4%);
	}
	&.even, &.thread-even {
		background:none!important;
	}
	&.depth-2, &.depth-3, &.depth-4 {
		margin-left:10%;
		margin-right:0;
		border-bottom:0px;
		border-top:1px solid $light-gray;
	}
	&.bypostauthor {
		h4 {
			.author {
				text-transform:uppercase;
				@include inline-block;
				background:$domColor;
				color:white;
				padding:2px 4px;
				@include fs-tiny;
				font-weight:400;
			}
		}
	}
	h4 {
		@include light;
		@include fs-xxlg;
		.edit {
			@include cond;
			@include fs-xsmall;
			@include inline-block;
			float:right;
		}
	}
	.reply {
		background:darken($domColor,4%);
		color:white!important;
		padding:4px 8px;
		@include border-radius(1px);
		border:0px!important;
		margin-top:4px;
		@include fs-tiny;
		@include inline-block;
		float:right;
		-webkit-font-smoothing:antialiased;
		a {
			@include cond;
			color:white;
		}
	}
	ul, ol {
		margin-left:0px;
	}
}
.comment-content {
	font-family:$sans;
	p {
		margin-bottom:0.7em;
	}
}
.comment-meta {
	text-align:center;
	@include fs-small;
	img {
		@include box-shadow(0px 8px 14px -8px $gray);
		border:2px solid $lightest-gray;
		margin:0 auto;
		margin-bottom:6px;
		display:block;
	}
	a {
		display:block;
	}
}
.logged-in-as {
	margin-bottom:10px;
	text-align:center;
	@include light;
	@include fs-lg;
}
#reply-title {
	@include dom;
	color:$domColor;
	margin:0px;
}
#respond {
	text-align:center;
	padding:20px 0px;
	textarea {
		@include border-radius(4px);
		width:90%;
		margin:0 auto;
		min-height:140px;
		padding:20px;
		@include fs-lg;
		font-weight:300;
		margin-bottom:35px;
		&:focus {
			background:white!important;
		}
	}
}
.comment-fields-row {
	max-width:90%!important;
	margin:auto!important;
	margin-top:45px!important;
	margin-bottom:0px!important;
	input {
		@include border-radius(4px);
	}
}


/******** UI ********/

.notice {
	@include fs-medium;
}
.notice, .alert {
	background:$domColor;
	padding:10px;
	color:white;
	@include border-radius(3px);
	@include box-shadow(0px 2px 8px -3px $gray);
	&.success {
		background:#4AC089;
	}
	&.info {
		background:#4487CE;
	}
	&.error {
		background:#B64040;
	}
	&.no-shadow{
		@include box-shadow(none);
	}
	a {
		color:$lightest_gray;
	}
	.close {
		color:white;
		@include text-shadow(none);
		@include opacity(0.9);
		top:-4px;
		position:relative;
	}
}
.search {
	h1 span {
		text-transform:uppercase;
		@include fs-tiny;
		@include inline-block;
		background:$domColor;
		color:white;
		padding:6px;
	}
}

.social {
	@include fs-lg;
	position:absolute;
	right:0px;
	i {
		@include inline-block;
		padding:0px 2px;
	}
	a {
		@include color-scheme;
	}
}
.social-single {
	@include color-scheme;
	@include fs-medium;
	@include no-list;
	text-align:center;
	font-family:$sans;
	font-weight:300;
	i {
		@include fs-xlg;
	}
	li {
		@include inline-block;
		padding:0px 10px;
	}
	a {
		@include color-scheme;
		@include hover($linkColor);
	}
}
.extra-margin {
	margin:30px 0px;
}
img.alignleft {
	float:left;
	margin-right:10px;
}
img.alignright {
	float:right;
	margin-left:10px;
}

/* BUTTONS */

button, .button, input[type="submit"] {
	@include box-shadow(none);
	border:0px;
	background:$domColor;
	color:white;
	@include fs-xlg;
	font-family:$sans;
	font-weight:100;
	@include border-radius(6px);
	@include single-transition(all, 0.2s, linear);
	padding:4px 14px;
	&:hover {
		cursor:pointer;
		background:darken($domColor,12%);
		@include box-shadow(inset 0px -12px 22px 0px rgba(0, 0, 0, 0.24))
	}
	&:active {
		background:darken($domColor,18%);
		@include box-shadow(inset 0px -12px 22px 0px rgba(0, 0, 0, 0.24), inset 0 1px 2px rgba(0, 0, 0, 0.3));
	}
}

/* NAVIGATION */
.page-navigation, .wp-pagenavi {
	text-align:center;
	margin:15px 0px;
	@include fs-xlg;
	color:$subColor;
	.prev, .next, .first, .last, .pages {
		@include fs-xsmall;
		text-transform: uppercase;
		margin:0px 6px;
	}
	a {
		color:desaturate($domColor, 50%);
		@include hover($subColor);
		border:0px;
	}
	span {
		border:0px;
	}
}

.menu {
	ul {
		@include no-list;
		li {
			@include inline-block;
			a {
				display:block;
				@include sub;
				padding:0px 15px;
			}
			&:first-child a {
				padding-left:0px!important;
			}
		}
	}
}
.breadcrumbs {
	margin-top:20px;
	@include fs-medium;
	background:inherit;
	border:0px;
	padding-left:0px;
	a {
		color:lighten($gray,12%);
		@include hover($linkColor);
	}
}
.footer, footer {
	padding:15px 0px;
	h2 {
		color:$subColor;
		text-transform:lowercase;
	}
	.menu ul {
		li {
			a {
				color:$domColor;
				@include hover($linkColor);
				padding:0px 15px;
			}
		}
	}
}
.link-list {
	@include no-list;
	li {
		@include inline-block;
		a {
			display:block;
			padding:4px 8px;
		}
	}
}
#creditsDisplay {
	background-color: #ffffff;
	@include filter-gradient(#ffffff, #f0f0f0, vertical);
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, #ffffff 0%,#f0f0f0 100%));
	@include border-radius(2px);
	position:absolute;
	right:0px;
	top:-52px;
	z-index:9999;
	width:240px;
	height:auto;
	text-align:center;
	border:1px solid #e8e8e8;
	padding:2px;
	display:none;
}
#footerCredits {
	position:relative;
}
.ts-maintenance-mode {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:$domColor;
	padding:25% 0px;
	width:100%;
	margin:0 auto;
	text-align:center;
	min-height:100%;
	color:white;
	@include cond;
	@include fs-giant;
	background-color: $domColor;
	@include filter-gradient(lighten($domColor,16%), $domColor, horizontal);
	$experimental-support-for-svg: true;
	@include background-image(radial-gradient(center, ellipse cover, lighten($domColor,16%) 0%,$domColor 100%));
	.coming-soon {
		margin:0;
		@include fs-xlg;
	}
}
.ts-contact {
	max-width:460px;
	input, textarea {
		@include border-radius(5px);
	}
	textarea {
		min-height:85px;
	}
	.button, button {
		@include border-radius(3px);
	}
}
.search-form {
	input[type="text"] {
		max-width:180px;
		@include box-shadow(none);
		border:0px;
		font-style:italic;
		float:left;
		margin-right:-2px;
		padding:7px;
		@include border-left-radius(5px);
	}
	button {
		@include fs;
		margin-top:0px;
		@include border-radius(0px);
		@include border-right-radius(5px);
		padding:7px 9px;
	}
}
.meta {
	@include no-list;
	text-align:center;
	i {
		color:$gray;
		margin-right:4px;
	}
	a {
		color:$domColor;
		@include hover($linkColor);
	}
	li {
		@include inline-block;
		margin:4px;
		&:after {
			content:'\2f';
			padding:0px 4px;
		}
		&:last-child:after {
			content:'\A0';
		}
	}
}