
aside {
	background:#f3f3f3;
	clear:both;
	padding:12px;
	margin:6px;
	@include border-radius(2px);
	border:1px solid darken(#e4e4e4, 12%);
	&:after {
		clear:both;
		content:"";
		display:table;
	}
}
.bumpleft {
	float:left;
	margin-right:12px;
}
.bumpright {
	float:right;
	margin-left:12px;
}
.tabContainer {
	margin:15px 0px;
	.tabNavigator {
		max-width:30%;
		padding:10px;
		@include no-list;
		@include inline-block;
		float:left;
		margin:10px;
		li {
			border-bottom:1px solid $lightest_gray;
			@include inline-block;
			width:100%;
			@include cond;
			margin:0px;
			a {
				display:block;
				padding:4px;
			}
			&.active a {
				background:$domColor;
				@include hover($lightest_gray);
				color:white;
			}
			&.active:hover a {
				color:white;
			}
			&:hover a {
				color:white;
				background:$domColor;
				@include single-transition(all, 0.3s, linear);
			}
			&:last-child {
				border-bottom:none;
			}
		}
	}
	.tab {
	}
	&.vertical {
		.tabNavigator {
			padding:0px;
			margin:0px;
			margin-right:30px;
			li {
				&.active {
					position:relative;
					&:after {
						left: 100%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}
					&:after {
						border-left-color: $domColor;
						border-width: 16px;
						top: 50%;
						margin-top: -16px;
					}
				}
			}
		}
	}
	&.horizontal {
		.tabNavigator {
			display:block;
			float:none;
			width:100%;
			max-width:100%;
			text-align:center;
			border-bottom:1px solid $lightest_gray;
			margin:0px;
			padding-bottom:0px;
			li {
				width:auto;
				margin:5px;
				margin-bottom:0px;
				border-bottom:0px;
				a {
					padding:6px;
				}
				&.active {
					position:relative;
					&:after {
						top: 100%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}
					&:after {
						border-top-color: $domColor;
						border-width: 12px;
						left: 50%;
						margin-left: -12px;
					}
				}
			}
		}
	}
}
.inline-text {
	@include fs-small;
	text-align:justify;
	p {
		line-height:19px!important;
		font-size:13px!important;
	}
}

.entry aside.timeline {
	width:100%!important;
}
/* POLL */
.inline-poll {
	.total-votes {
		color:$gray;
		@include fs-medium;
		margin-left:-1%;
	}
	.poll-results {
		color:$gray;
		.option {
			color:$gray;
			@include cond;
		}
		.responses {
			color:lighten($gray, 10%);
		}
	}
}
