@font-face {
	font-family: 'CGSocialCircle';
	src:url('fonts/CGSocialCircle.eot');
	src:url('fonts/CGSocialCircle.eot?#iefix') format('embedded-opentype'),
		url('fonts/CGSocialCircle.ttf') format('truetype'),
		url('fonts/CGSocialCircle.woff') format('woff'),
		url('fonts/CGSocialCircle.svg#CGSocialCircle') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="social-ico-"] {
	font-family: 'CGSocialCircle';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-ico-linkedin:before {
	content: "\e600";
}
.social-ico-instagram:before {
	content: "\e601";
}
.social-ico-feed:before {
	content: "\e602";
}
.social-ico-vimeo:before {
	content: "\e603";
}
.social-ico-facebook:before {
	content: "\e604";
}
.social-ico-github:before {
	content: "\e605";
}
.social-ico-pinterest:before {
	content: "\e607";
}
.social-ico-stumbleupon:before {
	content: "\e608";
}
.social-ico-foursquare:before {
	content: "\e609";
}
.social-ico-dribbble:before {
	content: "\e60a";
}
.social-ico-flickr:before {
	content: "\e60b";
}
.social-ico-twitter:before {
	content: "\e60c";
}
.social-ico-google-plus:before {
	content: "\e60d";
}
.social-ico-youtube:before {
	content: "\e610";
}
.social-ico-mail:before {
	content: "\e606";
}
