$gray: #8d8f92;
$lightest_gray: lighten($gray, 37%);
$light_gray: lighten($gray, 28%);
$dark_gray: darken($gray, 20%);

$green: #529C4E;
$blue: #0372A0;
$red: #C73538;
$domColor: $blue;
$subColor: $green;
$terColor: $red;
$quadColor: $green;
$linkColor: $red;