//Font mixins

@mixin dom {
	font-family:$sans;
	font-weight:normal;
}
@mixin sub {
	font-family:$monospace;
	font-weight:normal;
}
@mixin body {
	font-family:$serif;
}
@mixin cond {
	font-family:$sans;
	text-transform:uppercase;
}
@mixin light {
	font-family:$sans;
	font-weight:100;
}