@font-face {
	font-family: 'CharlieGordon';
	src:url('fonts/CharlieGordon.eot');
	src:url('fonts/CharlieGordon.eot?#iefix') format('embedded-opentype'),
		url('fonts/CharlieGordon.woff') format('woff'),
		url('fonts/CharlieGordon.ttf') format('truetype'),
		url('fonts/CharlieGordon.svg#CharlieGordon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'CharlieGordon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-android, .icon-shield, .icon-vote, .icon-users, .icon-file, .icon-circleinfo, .icon-asterisk, .icon-tie, .icon-intersection, .icon-uniF480, .icon-tags, .icon-wheelchair, .icon-uniF000, .icon-shopping, .icon-scales, .icon-uniF014, .icon-error, .icon-html, .icon-braces, .icon-presentation, .icon-volumemute2, .icon-volumehalf, .icon-volumefull, .icon-bluetooth, .icon-instagram, .icon-record, .icon-podcast, .icon-paw, .icon-quote, .icon-quote-2, .icon-cabinet, .icon-microphone, .icon-picture, .icon-pictures, .icon-checkmark, .icon-cancel, .icon-location, .icon-vote-2, .icon-megaphone, .icon-lamp, .icon-chat, .icon-info, .icon-paper-plane, .icon-paperclip, .icon-user, .icon-users-2, .icon-user-add, .icon-share, .icon-export, .icon-clock, .icon-help, .icon-warning, .icon-sound, .icon-menu, .icon-heart, .icon-cog, .icon-home, .icon-tag, .icon-repeat, .icon-print, .icon-chevron-left, .icon-chevron-right, .icon-resize-full, .icon-resize-small, .icon-plus, .icon-minus, .icon-random, .icon-cogs, .icon-comments, .icon-heart-empty, .icon-reorder, .icon-comments-alt, .icon-mobile, .icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-pencil, .icon-folder-open, .icon-calendar, .icon-map, .icon-quotes-left, .icon-zoom-out, .icon-zoom-in, .icon-search, .icon-spinner, .icon-earth, .icon-link, .icon-star, .icon-star-2, .icon-star-3, .icon-pencil-2, .icon-calendar-2, .icon-film, .icon-phone, .icon-code, .icon-googleplus, .icon-googleplus-2, .icon-googleplus-3, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-twitter, .icon-twitter-2, .icon-twitter-3, .icon-feed, .icon-feed-2, .icon-feed-3, .icon-vimeo, .icon-youtube, .icon-vimeo-2, .icon-vimeo2, .icon-flickr, .icon-flickr-2, .icon-flickr-3, .icon-dribbble, .icon-dribbble-2, .icon-dribbble-3, .icon-github, .icon-github-2, .icon-github-3, .icon-skype, .icon-reddit, .icon-linkedin, .icon-linkedin-2, .icon-linkedin-3, .icon-pinterest, .icon-pinterest-2, .icon-pinterest-3, .icon-stumbleupon, .icon-stumbleupon-2, .icon-stumbleupon-3, .icon-email, .icon-email-2, .icon-email-3, .icon-thumbs-up, .icon-thumbs-down {
	font-family: 'CharlieGordon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-android:before {
	content: "\f085";
}
.icon-shield:before {
	content: "\e00f";
}
.icon-vote:before {
	content: "\e00c";
}
.icon-users:before {
	content: "\e017";
}
.icon-file:before {
	content: "\e059";
}
.icon-circleinfo:before {
	content: "\e016";
}
.icon-asterisk:before {
	content: "\e058";
}
.icon-tie:before {
	content: "\2040";
}
.icon-intersection:before {
	content: "\2229";
}
.icon-uniF480:before {
	content: "\f480";
}
.icon-tags:before {
	content: "\f004";
}
.icon-wheelchair:before {
	content: "\f3fe";
}
.icon-uniF000:before {
	content: "\f000";
}
.icon-shopping:before {
	content: "\f010";
}
.icon-scales:before {
	content: "\f3fd";
}
.icon-uniF014:before {
	content: "\f014";
}
.icon-error:before {
	content: "\f04a";
}
.icon-html:before {
	content: "\e001";
}
.icon-braces:before {
	content: "\f015";
}
.icon-presentation:before {
	content: "\f0c4";
}
.icon-volumemute2:before {
	content: "\f0e5";
}
.icon-volumehalf:before {
	content: "\f0e3";
}
.icon-volumefull:before {
	content: "\f0e2";
}
.icon-bluetooth:before {
	content: "\e05b";
}
.icon-instagram:before {
	content: "\f14a";
}
.icon-record:before {
	content: "\f013";
}
.icon-podcast:before {
	content: "\f1a2";
}
.icon-paw:before {
	content: "\e026";
}
.icon-quote:before {
	content: "\e029";
}
.icon-quote-2:before {
	content: "\e01e";
}
.icon-cabinet:before {
	content: "\e004";
}
.icon-microphone:before {
	content: "\e005";
}
.icon-picture:before {
	content: "\e040";
}
.icon-pictures:before {
	content: "\e03e";
}
.icon-checkmark:before {
	content: "\e006";
}
.icon-cancel:before {
	content: "\e007";
}
.icon-location:before {
	content: "\f02f";
}
.icon-vote-2:before {
	content: "\e009";
}
.icon-megaphone:before {
	content: "\e00a";
}
.icon-lamp:before {
	content: "\e00e";
}
.icon-chat:before {
	content: "\e038";
}
.icon-info:before {
	content: "\e053";
}
.icon-paper-plane:before {
	content: "\e056";
}
.icon-paperclip:before {
	content: "\e04a";
}
.icon-user:before {
	content: "\e012";
}
.icon-users-2:before {
	content: "\e013";
}
.icon-user-add:before {
	content: "\e011";
}
.icon-share:before {
	content: "\f29d";
}
.icon-export:before {
	content: "\f16b";
}
.icon-clock:before {
	content: "\e047";
}
.icon-help:before {
	content: "\e057";
}
.icon-warning:before {
	content: "\e046";
}
.icon-sound:before {
	content: "\e04f";
}
.icon-menu:before {
	content: "\e01f";
}
.icon-heart:before {
	content: "\f074";
}
.icon-cog:before {
	content: "\f189";
}
.icon-home:before {
	content: "\f0b4";
}
.icon-tag:before {
	content: "\f08a";
}
.icon-repeat:before {
	content: "\e019";
}
.icon-print:before {
	content: "\e008";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-resize-full:before {
	content: "\f065";
}
.icon-resize-small:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-random:before {
	content: "\e04e";
}
.icon-cogs:before {
	content: "\f12b";
}
.icon-comments:before {
	content: "\e02f";
}
.icon-heart-empty:before {
	content: "\e045";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-comments-alt:before {
	content: "\e037";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-pencil:before {
	content: "\e03f";
}
.icon-folder-open:before {
	content: "\e018";
}
.icon-calendar:before {
	content: "\e04d";
}
.icon-map:before {
	content: "\f01e";
}
.icon-quotes-left:before {
	content: "\e02e";
}
.icon-zoom-out:before {
	content: "\e01d";
}
.icon-zoom-in:before {
	content: "\e01b";
}
.icon-search:before {
	content: "\e01c";
}
.icon-spinner:before {
	content: "\e01a";
}
.icon-earth:before {
	content: "\f482";
}
.icon-link:before {
	content: "\e02d";
}
.icon-star:before {
	content: "\e044";
}
.icon-star-2:before {
	content: "\e042";
}
.icon-star-3:before {
	content: "\e041";
}
.icon-pencil-2:before {
	content: "\e03d";
}
.icon-calendar-2:before {
	content: "\e04b";
}
.icon-film:before {
	content: "\e051";
}
.icon-phone:before {
	content: "\e043";
}
.icon-code:before {
	content: "\e049";
}
.icon-googleplus:before {
	content: "\e00d";
}
.icon-googleplus-2:before {
	content: "\e06f";
}
.icon-googleplus-3:before {
	content: "\f086";
}
.icon-facebook:before {
	content: "\e020";
}
.icon-facebook-2:before {
	content: "\e021";
}
.icon-facebook-3:before {
	content: "\e061";
}
.icon-twitter:before {
	content: "\e022";
}
.icon-twitter-2:before {
	content: "\e023";
}
.icon-twitter-3:before {
	content: "\e062";
}
.icon-feed:before {
	content: "\e024";
}
.icon-feed-2:before {
	content: "\e025";
}
.icon-feed-3:before {
	content: "\e066";
}
.icon-vimeo:before {
	content: "\e052";
}
.icon-youtube:before {
	content: "\e050";
}
.icon-vimeo-2:before {
	content: "\e054";
}
.icon-vimeo2:before {
	content: "\e002";
}
.icon-flickr:before {
	content: "\e05c";
}
.icon-flickr-2:before {
	content: "\e05d";
}
.icon-flickr-3:before {
	content: "\e063";
}
.icon-dribbble:before {
	content: "\e05e";
}
.icon-dribbble-2:before {
	content: "\e05f";
}
.icon-dribbble-3:before {
	content: "\e064";
}
.icon-github:before {
	content: "\e034";
}
.icon-github-2:before {
	content: "\e036";
}
.icon-github-3:before {
	content: "\e039";
}
.icon-skype:before {
	content: "\e03b";
}
.icon-reddit:before {
	content: "\e03c";
}
.icon-linkedin:before {
	content: "\e030";
}
.icon-linkedin-2:before {
	content: "\e06a";
}
.icon-linkedin-3:before {
	content: "\e06b";
}
.icon-pinterest:before {
	content: "\e028";
}
.icon-pinterest-2:before {
	content: "\e035";
}
.icon-pinterest-3:before {
	content: "\e02a";
}
.icon-stumbleupon:before {
	content: "\e02b";
}
.icon-stumbleupon-2:before {
	content: "\e033";
}
.icon-stumbleupon-3:before {
	content: "\e02c";
}
.icon-email:before {
	content: "\e014";
}
.icon-email-2:before {
	content: "\e003";
}
.icon-email-3:before {
	content: "\e015";
}
.icon-thumbs-up:before {
	content: "\e000";
}
.icon-thumbs-down:before {
	content: "\e010";
}
