$scheme:'light' !default;

$gray: #8d8f92;
$lightest_gray: lighten($gray, 37%);
$light_gray: lighten($gray, 28%);
$dark_gray: darken($gray, 20%);

$red:#b83a39;
$dark_blue:#527B9B;
$domColor: black;
$subColor: $dark_blue;
$terColor: $red;
$linkColor: $dark_blue;