/******** FONTS ************/

@import "lib/fonts/CharlieGordon/style.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Open+Sans+Condensed:700);

$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
$script:Brush Script MT, Trebuchet MS, 'Helvetica Neue', Helvetica, Arial, script;

@mixin dom {
	font-family:'Open Sans', $sans;
	font-weight:normal;
}
@mixin sub {
	font-family:'Open Sans',$sans;
	font-weight:normal;
}
@mixin body {
	font-family:'Open Sans', $sans;
	font-weight:normal;
}
@mixin cond {
	font-family:'Open Sans Condensed', $sans;
}
@mixin med {
	font-family:'Open Sans', $sans;
	font-weight:200;
}
@mixin light {
	font-family:'Open Sans', $sans;
	font-weight:100;
}