.meta {
	@include no-list;
	i {
		color:$gray;
		margin-right:4px;
	}
	a {
		color:$domColor;
		@include std-hover($linkColor);
	}
	li {
		margin:4px 0px;
	}
}
.post {
	.entry {
		margin-bottom:30px;
		padding-bottom:30px;
	}
}
p {
	margin:0 0 30px;
}
.wp-caption {
	background:#eee;
	padding:8px;
	margin-bottom:30px;
	img {
		border:2px solid #fff;
	}
	.wp-caption-text {
		text-align:center;
		font-style:italic;
		margin-bottom:0px;
	}
}